.header{
    display: flex;
    flex-direction: column;
}

.field-label-row {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.field-label-text {
    font-size: 0.75rem;
    font-weight: 700;
    color: #3e3e3c;
}